* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --primary-color: #FFF;
    --button-color: #1A5BDA;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --font-family: 'Raleway', sans-serif;
    --background: #F5F5F5;
    --text: #BDBDBD;
}



body {
    font-family: var(--font-family);
}

h1,
h2,
h3,
p {
    font-family: var(--font-family);
    margin-top: 0px;
    font-style: normal;

}

img {
    vertical-align: middle;
    border-style: none;
}

input:focus {
    outline: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}